/* Specific styles for non-active links */
.link-inactive {
    color: #22A39F;
}

/* Specific styles for active links */
.link-active {
    color: black;
    background: orange;
}

#header-menu{
   padding-top: 20px; 
}