.my-navbar:visited {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.my-navbar:hover {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c10944;
    font-size: 16px;
    background-color: #61dafb;
}

.nav-navbar:active {
    color: #c10944;
    font-size: 16px;
    background-color: #61dafb;
}
